/* Sri Krishna */

/* START --- ALL LINKS */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* END --- ALL LINKS */

/* START --- BASIC OR DEFAULT STYLING */

*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    color:rgb(30, 29, 29); 
    font-family : "Source Sans 3", serif; 
    font-style : normal; 
}

body{
    background-color : #f2ebcc;
    padding : 0;
    margin : 0;
}

html{
    font-size : 28px;
}


/* @media screen and (max-width:40.26em){
    html{
        font-size : 18px; 
    }
} */

@media screen and (min-width:156em){
    html{
        font-size : 65px; 
    }
}

a{
    text-decoration : none;
}

li{
    list-style-type: none;
}

/* END --- BASIC OR DEFAULT STYLING */

/* START --- INDEX.PHP */

.logo{
    left:2%; 
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    height:60px;
}

@media screen and (max-width: 43.75em){
.logo{
    height:40px;
}
.cartNavLogo{
    height:25px;
}
}

.navigationBar{
    position:relative;
    background-color : #cde5d9;
    height :3.5rem;
    max-width: 100%; 
    display:flex; 
    align-items: center;   
}

.navBarElesCollection{
    position: absolute;
    display : inline-flex;
    gap: clamp(0.1rem, 2vw, 3rem);
    right: 2%;
    cursor: pointer;
    
}

.navBarEles{
    font-size: clamp(0.3rem, 4vw, 1rem);
    font-weight: 400;
}

.loginBtn{
    border-radius: 1vh;
    width: clamp(5rem,10vw, 8rem);
    height:1.5rem;
    background-color: #b6b4c2;
    border:none;
    font-size:0.8rem;
}

.menuBtn{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    display:none;
    
}

@media screen and (max-width: 43.75em){
    .menuBtn{
        display:inline-block;
    }
    .navBarElesCollection li:nth-child(-n+3){
        display:none;
    }
    .navBarElesCollection{
        right: 12%;
    }
}

.navigationBarPhn{ 
    width:100%;
    height:90vh;
    background-color: #cde5d9;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 2rem 0 0 0;
    font-size:1.2rem;
    font-weight: 400;
    z-index:1000;
    position: absolute;
    right: 0;
    border: 2px solid #b6b4c2;
    display:none;
}

.sectionOne{
    background-color: #cde5d9;
    /* height: 20rem; Use both height and padding top/bottom depending on requirements for fixed and resposive height maintained across all screens */
    padding: 5% 0% 0 2%; 
    max-width: 100%;
    margin: 6% 3% 6% 3%;
    border-radius:0.2rem;
    border: 0.01rem solid black;
    box-shadow: 4px 4px 3.9px grey; /*offset-x offset-y blur-radius color*/ 
    display: flex; 
    justify-content: space-evenly;
}

.image{
    max-width: 1000px;
    max-height: 500px;
}

@media screen and (max-width: 37.5em){
.image{
    max-height: 300px;
}
}

.sectionOne img{
    width: 100%;
    height: 100%;
}

.sectionOne h1{
    font-size: clamp(0.5rem, 7vw, 5rem);
}

.sectionOne h2{
    font-size: clamp(0.2rem, 5vw, 2rem);
    font-weight: 400;
}

.sectionOne button{
    background-color: #b6b4c2;
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 400;
    width: clamp(4rem, 40vw, 15rem);
    height: auto;
    padding: 0.5rem 0;
    border: none;
    border-radius: 1vh;
    font-size: clamp(0.6rem, 3vw, 8rem);
    margin: 4% 0 0 0;
    color: white;
}

.closeBtn{
    display: flex;
    padding: 0 0rem 0 4rem;
}

.closeText{
    font-size: 1rem;
    font-weight: 1000;
}

.title{
   text-align: center;
}

.bigText{
    color: #e5c1cd;
    font-size: clamp(2.2rem, 8vw, 10rem);
}

.smallText{
    color: #b6b4c2;
    font-size: clamp(0.5rem, 2vw, 5rem);
}

.sectionTwo{
    display: flex;
    flex-wrap: wrap;
    margin: 2% 2% 6% 2%;
    justify-content: space-evenly;
    gap: 1rem;
}

.featureCard{
    background-color: #c6e2e7;
    width: 8rem;
    padding: 2.5rem 1.5rem;
    border-radius: 0.3rem;  
    text-align: center;
}

.featureTitleOne{
    background-color: rgb(252, 168, 220);
    text-align: center;
    border-radius: 0.2rem;
}

.featureTitleTwo{
    background-color: rgb(146, 183, 98);
    text-align: center;
    border-radius: 0.2rem;
}

.featureTitleThree{
    background-color: rgb(122, 178, 207);
    text-align: center;
    border-radius: 0.2rem;
}

.featureTitleFour{
    background-color: rgb(153, 119, 182);
    text-align: center;
    border-radius: 0.2rem;
}

.featureTitleFive{
    background-color: #f8b98a;
    text-align: center;
    border-radius: 0.2rem;
}

.featureTitleText{
    color: white;
    font-size: clamp(0.8rem, 1vw, 2rem);
    display: inline-block; 
    padding: 2% 1%;
}

.sectionThree{
    margin: 6% 4%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 9.8rem));
    gap: 2rem;
    justify-content: center;
    justify-content: space-evenly;
    
}

.product{
    background-color: #b6b4c2;
    border-radius: 0.3rem;
    position: relative;
    
}

.proDesc{
    display: flex;
}

.proImage{
    width: 230px;
    height: 230px;
    border-radius: 0.3rem;
    border: 0.01rem solid grey;
    text-align: center;
    box-shadow: 2px 2px 2px grey;
    margin:0.8rem;
    
}

.cartIcon{
    width: 45px;
    height: 45px;
    background-color: #e5c1cd;
    padding: 0.3rem;
    right: 1rem;
    bottom: 0.5rem;
    position: absolute;
    border-radius: 0.3rem;
    border: 0.001rem solid grey;
}

.brand{
    font-size: 18px;
    font-weight: 200;
    line-height: 0;
    padding: 0 0 1rem 0.5rem;
}

.proName{
    font-size: 20px;
    font-weight: 700;
    line-height: 0;
    padding: 0 0 1.2rem 0.5rem;
}

.proPrice{
    font-size: 35px;
    font-weight: 600;
    line-height: 0;
    padding: 0 0 1rem 0.5rem;
}

.last-sec{
    max-width:100%;
    background-color: #cde5d9;
    padding:2% 2%;
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    
}

.cnt-txt{
    color:black;
    font-size: clamp(0.2rem, 2vw, 0.8rem);
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.cnt-txt1{
    color: black;
    font-size: clamp(0.1rem, 2vw, 2.5rem);
    font-weight: 1000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.cnt-txt2{
    color:black;
    font-size:0.5rem;
    font-weight:400;
    padding-top:5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.payImg{
    width:100%;
    height:auto;
}

.pay{
    width:100%;
    height:auto;
}

.Uni-ON{
    margin-top:3rem;
    width: 150px;
}

/* END --- INDEX.PHP */

/* --------START OF CSS FOR LOGIN.HTML & ADMIN.HTML & CHECKOUT.HTML------------- */

.addNewPro{
    display:flex;
    flex-direction:column;
    gap:1rem;
    text-align: center;

}

.addNewPro input{
    display:block;
    border:1px solid white;
    background-color:#ddd0c8;
    width:clamp(18rem, 3vw, 25rem);
    height:2.5rem;
    border-radius: 2vh;
    padding:0 10px;
    color:#000000;
    font-size:clamp(0.8rem, 1vw, 4rem);
}

.addProBtn{
    width:clamp(8rem, 3vw, 16rem);
    background-color: #dcaa4c;
    color:white;
    height:2rem;
    border:none;
    border-radius: 1vh;
    font-size: clamp(1rem, 1vw, 4rem);
}

.formHeadTxt{
    font-size:clamp(1rem, 2vw, 4rem);
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.addNewPro{
    background-color: #000000;
    padding:10% 0;
    justify-content: center;
    align-items: center;
    gap:2rem;
    border-radius: 3vh;
}

.shopLandingCard{
    background-color: #e5c1cd;
    max-width: 100%;
    margin: 6% 3% 6% 3%;
    height: 80vh;
    border: 0.01rem solid grey;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 1.9px grey;
    position: relative;
    padding: 5% 0% 0 4%; 
    
}

.landingTitle{
    background-color: #f7dde8;
    max-width: 50%;
    position: absolute;
    border: 0.06rem solid white;
    border-radius: 0.5rem;
    padding: 2%;
    box-shadow: 4px 4px 4.9px grey;
   
}

.landingTitleText{
    color: #675d5d;
    font-size: clamp(0.1rem, 6vh, 4rem);
}
/* --------END OF CSS FOR LOGIN.HTML & ADMIN.HTML  & CHECKOUT.HTML------------- */

/* Sri Krishna */