@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    color:rgb(30, 29, 29); 
    font-family : "Source Sans 3", serif; 
    font-style : normal; 
}

body{
    background-color : #f2ebcc;
}

html{
    font-size : 28px;
}

@media screen and (max-width:60em){
    html{
        font-size : 24px; 
    }
}

@media screen and (max-width:40.26em){
    html{
        font-size : 18px; 
    }
}

a{
    text-decoration : none;
}

li{
    list-style-type: none;
}

.logo{
    left:2%; 
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    height:90px;
}

.navigationBar{
    position:relative;
    background-color : #cde5d9;
    height :3rem;
    max-width: 100%; 
    display:flex; 
    align-items: center;
}

.navBarElesCollection{
    position:absolute;
    display : inline-flex;
    gap: 1rem;
    right: 2%;
}

.navBarEles{
    font-size:1rem;
    font-weight: 400;
}

.loginBtn{
    border-radius: 1vh;
    width: 6rem;
    height:1.5rem;
    background-color: #b6b4c2;
    border:none;
    font-size:0.8rem;
}
